@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LibraryWebApp.Models.LoginModel
@{
    ViewData["Title"] = "Login Page";
}


@using (Html.BeginForm("login", "home", FormMethod.Post))
{
    <form>
        <div class="d-flex justify-content-center">
        <table>
            <th>
                <h2>Login</h2>
            </th>
            <tr>
                <td class="form-group">
                    <label for="name">Username</label>
                </td>
                <td class="form-group">
                    @Html.TextBoxFor(m => m.Username, new { @AbandonedMutexException= "form-control", @placeholder = "enter your username"})
                    @Html.ValidationMessageFor(m=> m.Username, "", new {@class = "alert-danger"})
                </td>
            </tr>
            <tr>
                <td class="form-group">
                    <label for="name">Password</label>
                </td>
                <td class="form-group">
                    @Html.TextBoxFor(m => m.Password, new { @AbandonedMutexException= "form-control", @placeholder = "enter your password"})
                    @Html.ValidationMessageFor(m=> m.Password, "", new {@class = "alert-danger"})
                </td>
            </tr>
            <tfoot>
                <tr>
                    <td class="form-group">
                        <a class="nav-link ps-0" asp-area="" asp-controller="Home" asp-action="Register">Forgot Password?</a>
                    </td>
                    <td class="form-group">
                        <a class="nav-link ps-0" asp-area="" asp-controller="Home" asp-action="Register">Need an account? Register here.</a>
                    </td>
                </tr>
                <tr>
                    <td class="form-group">
                        <input type="submit" value="submit" class="btn-primary btn-primary">
                    </td>
                </tr>
            </tfoot>
        </table>
        </div>
    </form>
}