@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LibraryWebApp.Models.LoginModel
@{
    ViewData["Title"] = "Login Page";
}

<h2>Login</h2>
@using (Html.BeginForm("login", "home", FormMethod.Post))
{
    <form>
        <div class="form-group">
            <label for="name">Username</label>
            @Html.TextBoxFor(m => m.Username, new { @AbandonedMutexException= "form-control", @placeholder = "enter your username"})
            @Html.ValidationMessageFor(m=> m.Username, "", new {@class = "alert-danger"})
        </div>

        <div class="form-group">
            <label for="name">Password</label>
            @Html.TextBoxFor(m => m.Password, new { @AbandonedMutexException= "form-control", @placeholder = "enter your password"})
            @Html.ValidationMessageFor(m=> m.Password, "", new {@class = "alert-danger"})
        </div>
        <div>
            <input type="submit" value="submit" class="btn-primary btn-primary">
        </div>
    </form>
}