@{
    ViewData["Title"] = "Author";
}

<div>
    <div class="form-group">
        <a class="nav-link ps-0" asp-area="" asp-controller="My_Page" asp-action="AddAuthor">Create a new Author</a>
    </div>
</div>