@{
    ViewData["Title"] = "Book Dashboard";
}

<div class = "card">
    <div class="form-group">
        <a class="nav-link ps-0" asp-area="" asp-controller="My_Page" asp-action="AddBook">Create a new Book</a>
    </div>
</div>