@{
    ViewData["Title"] = "Author";
}

<div class = "card">
    <div class="form-group">
        <a class="nav-link ps-0" asp-area="" asp-controller="My_Page" asp-action="AddGenre">Create a new Genre</a>
    </div>
</div>