<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="LibraryWebAppDB" connectionString="Data Source=DESKTOP-P4DM9AE;Initial Catalog=LibraryWebApp;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>

</configuration>